<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PostURL" value="http://localhost:59494/api/Send/AddUserAndCosts" />
    <add key="GetURLBase" value="http://localhost:59494/api/Receive/WhoOwesWho" />
  </appSettings>
</configuration>